@font-face {
    font-family: 'JiChimichanga';
    src: url(fonts/JiChimichanga-BGGV.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/11_background/desert_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:'JiChimichanga', 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

body::backdrop {
    background-image: url('img/11_background/desert_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.impressum {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('img/11_background/desert_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.impressum a {
    text-decoration: none;
    color: white;
}

.privacy-policy {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-image: url('img/11_background/desert_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 100px 200px;
}

.privacy-policy a {
    text-decoration: none;
    color: white;
}

canvas {
    background-color: black;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 299px;
    display: block;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    color: #fcdc11;
}

.start-screen-container {
    height: 100vh;
    margin: 0;
    position: absolute;
    width: 10vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-screen {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 800px;
    z-index: 2;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}

.start-button {
    background-color: #FFDD03;
    border: none;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 42px;
    margin-top: 50px;
    cursor: pointer;
    margin-block-start: -520px;
    z-index: 999;
    border-radius: 10px;
    font-family:'JiChimichanga', 'Raleway', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-none {
    display: none;
}

.legal-container {
    position: absolute;
    display: flex;
    bottom: 18px;
    flex-direction: column;
    font-family: sans-serif;
}

.legal-container a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.legal-container a:hover {
    color: white;
    text-decoration: underline;
}

.game-over-screen-container {
    height: 100vh;
    margin: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-over-screen {
    background-image: url('./img/9_intro_outro_screens/game_over/game over.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 482px;
    width: 722px;
    z-index: 0;
    margin-bottom: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 16px;
}

.buttons-container {
    height: 100vh;
    margin: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.buttons {
    height: 48px;
    width: 720px;
    margin-bottom: 220px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.button {
    background-color: #FFDD03;
    margin-right: 10px;
    border: none;
    color: black;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.mute {
    background-image: url('./img/10_buttons/mute.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.unmute {
    background-image: url('./img/10_buttons/sound.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.start {
    background-image: url('./img/10_buttons/play.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.fullscreen {
    background-image: url('./img/10_buttons/fullscreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}

.instructions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.mobile-button {
    height: 48px;
    width: 48px;
    margin-right: 10px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFDD03;
}

.mobile-left {
    background-image: url('img/10_buttons/left.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-right {
    background-image: url('img/10_buttons/right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.mobile-up {
    background-image: url('img/10_buttons/up.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;
}

.mobile-throw {
    background-image: url('img/10_buttons/bottle-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
}

.orientation-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: grey;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orientation-alert p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        overflow-x: hidden;
    }

    .game-over-screen {
        width: 100%;
        height: 100%;
        background-size: 120%;
        overflow-x: hidden;
    }

    .start-screen-container {
        width: 100vw;
        overflow-x: hidden;
    }

    .start-screen {
        width: 100%;
        background-size: 120%;
        margin-top: -80px; 
        overflow-x: hidden;
    }

    .start-button {
        margin-top: -400px; 
    }

    .buttons {
        margin-top: 50px;        
    }

    .button {
        padding: 10px 25px;
    }

    .instructions {
        font-size: 16px;
        margin-bottom: 50px;
    }

    h1 {
        display: none;
    }

    .start-button {
        padding: 5px 15px;
    }

    .fullscreen {
        display: none;
    }
}

@media only screen and (max-width: 520px) {
   .orientation-alert {
       display: flex;
   }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0;
        width: 100vw;
    }

    h1 {
        display: none;
    }

    .buttons {
        margin-top: 0;        
    }

    .game-over-screen-container {
        height: 100vh;
        margin: 0;
        position: absolute;
        width: 100%;
        display: block;
    }

    .game-over-screen {
        width: 100%;
        height: 100%;
        background-size: 120%;
        overflow-x: hidden;
    }

    .start-screen-container {
        width: 100vw;
        height: 100vh;
        display: block;
    }

    .start-screen {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        background-size: 100%;
        margin: 0;
    }

    .instructions {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .fullscreen {
        display: none;
    }

    .start-button {
        margin-top: -400px;
    }

    .instructions-text {
        display: none;
    }

    .instructions-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

}

 



